/* ================= TYPING TEXT ================= */

.typing-text{
    font-size: 2.6rem; /* reduced size of "I work on" */
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

/* WORDS */
.typing-text span::before{
    content: "Mechatronics Engineering";
    color: #b74b4b;
    animation: words 20s infinite;
}

/* CURSOR + ERASER */
.typing-text span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #b74b4b;
    animation: typing 20s steps(30) infinite;
}

/* Cursor blink */
@keyframes cursor{
    50%{
        border-left-color: transparent;
    }
}

/* Typing + Deleting */
@keyframes typing{
    0%   { width: 100%; }
    10%  { width: 0%; }
    20%  { width: 0%; }
    30%  { width: 100%; }

    40%  { width: 100%; }
    50%  { width: 0%; }
    60%  { width: 0%; }
    70%  { width: 100%; }

    80%  { width: 100%; }
    90%  { width: 0%; }
    100% { width: 100%; }
}

/* Word switching */
@keyframes words{
    0%, 20%{
        content: "Mechatronics Engineering";
    }
    21%, 40%{
        content: "Robotics";
    }
    41%, 60%{
        content: "Drones";
    }
    61%, 80%{
        content: "IoT";
    }
    81%, 100%{
        content: "Automation";
    }
}
